<div class="ibox card-box cards-item">
  <div class="ibox-content no-padding card-label">
    <div class="card-tools">
      <div class="btn-group">
        <button data-toggle="dropdown" class="btn btn-xs btn-white dropdown-toggle" aria-expanded="false"><i class="fa fa-folder"></i> <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li>
            <a href="#">View Collections</a>
          </li>
          <li>
            <a href="#">Add technologies to Stash</a>
          </li>
          <li>
            <a href="#">Change status</a>
          </li>
          <li>
            <a href="#">Edit status</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#">Edit technology</a>
          </li>
          <li>
            <a href="#">Delete technology</a>
          </li>
        </ul>
      </div>
    </div>
    <a href="#/projects/entry"><img src="{{src}}" class="img-responsive" /></a>
    <div class="card-description">
      <h5 href="#" class="card-name"><a href="#/projects/entry"><span class="card-id">{{evID}}</span> {{name}}</a></h5>
      <p>{{description}}</p>
      <div class="btn-group">
        <button class="btn btn-xs btn-outline btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="View Entry"><a href="projectEntry.php"><i class="fa fa-eye"></i></a></button>
        <button class="btn btn-xs btn-outline btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Open project">{{status}}</button>
        <button class="btn btn-xs btn-outline btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="12 technologies"><i class="fa fa-gear"></i> 12</button>
        <button class="btn btn-xs btn-outline btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="11 collections"><i class="fa fa-archive"></i> 11</button>
        <button class="btn btn-xs btn-outline btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="11 attachments"><i class="fa fa-paperclip"></i> 11</button>
      </div>
    </div>
  </div>
</div>
