{{> navbar}}
<div class="wrapper-content">
  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <!-- COMEÇO DASH TECH -->
        <div class="col-xs-6">
          <div class="ibox dashboard-ibox">
            <div class="ibox-title">
              <h2>
              <i class="fa fa-gear"></i> Technologies
              </h2>
            </div>
            <div class="ibox-content">
              <p><a href="#/technologies/add" class="btn btn-block btn-primary">Add a new technology</a></p>
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      We have <strong>123</strong> Technologies in TDB
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>80</strong> of them are <a href="" class="label label-primary">Published</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>20</strong> of them are <a href="" class="label label-warning">Under Review</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>05</strong> of them are <a href="" class="label label-danger">Drafts</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      The newest one is <a href="" class="label label-danger"><i class="fa fa-gear"></i> 3D touch sensitive screens</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- COMEÇO DASH PROJECTS -->
        <div class="col-xs-6">
          <div class="ibox dashboard-ibox">
            <div class="ibox-title">
              <h2>
              <i class="fa fa-folder"></i> Projects
              </h2>
            </div>
            <div class="ibox-content">
              <p><a href="/organizations/add" class="btn btn-block btn-primary">Add a new project</a></p>
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      We have <strong>23</strong> Projects in TDB
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>80</strong> of them are active
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>20</strong> of them are prospect
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>05</strong> of them are closed
                    </td>
                  </tr>
                  <tr>
                    <td>
                      The newest one is <a href="" class="label label-outline"><i class="fa fa-folder"></i> Futuro da Medicina</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- COMEÇO DASH ORG -->
        <div class="col-xs-6">
          <div class="ibox dashboard-ibox">
            <div class="ibox-title">
              <h2>
              <i class="fa fa-building"></i> Organizations
              </h2>
            </div>
            <div class="ibox-content">
              <p><a href="/organizations/add" class="btn btn-block btn-primary">Add a new organization</a></p>
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      We have <strong>13</strong> organizations in TDB
                    </td>
                  </tr>
                  <tr>
                    <td>
                      The newest one is <a href="" class="label label-outline"><i class="icon fa fa-building"></i> Tesla Motors</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- COMEÇO DASH ATTACH -->
        <div class="col-xs-6">
          <div class="ibox dashboard-ibox">
            <div class="ibox-title">
              <h2>
              <i class="fa fa-paperclip"></i> Attachments
              </h2>
            </div>
            <div class="ibox-content">
              <p><a href="/organizations/add" class="btn btn-block btn-primary">Add a new attachment</a></p>
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      We have <strong>23</strong> attachments in TDB
                    </td>
                  </tr>
                  <tr>
                    <td>
                      The newest one is <a href="" class="label label-outline"><i class="fa fa-paperclip"></i> Sky Blue Sky</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Início tech stash -->
    <div class="col-sm-12 col-md-12 col-lg-6">
      <div class="row">
        <div class="col-xs-12">
          <div class="ibox float-e-margins recent-updates">
            <div class="ibox-title">
              <h1><i class="fa fa-bell"></i> Latest Updates</h1>
            </div>
            <div class="ibox-content no-padding">
              <div class="ps-container" data-ps-id="5af3b930-2851-eeab-0e0c-45d8f9727f08">
                <ul class="list-group">
                  <li class="list-group-item">
                    <a href="/users/uN5avEbvacZYpuWB3/entry" class="label label-default">
                      <i class="icon fa fa-users"></i> c.haverslag@dynteq.nl
                    </a>
                    <p>
                      was updated by
                      <!--was {{description}} by-->
                      <a href="/users/entry">
                      </a>
                    </p>
                    <span class="label label-primary label-time">
            4 days ago
          </span>
                  </li>
                  <li class="list-group-item">
                    <a href="/users/uN5avEbvacZYpuWB3/entry" class="label label-default">
                      <i class="icon fa fa-users"></i> c.haverslag@dynteq.nl
                    </a>
                    <p>
                      was updated by
                      <!--was {{description}} by-->
                      <a href="/users/entry">
                      </a>
                    </p>
                    <span class="label label-primary label-time">
            4 days ago
          </span>
                  </li>
                  <li class="list-group-item">
                    <a href="/users/uN5avEbvacZYpuWB3/entry" class="label label-default">
                      <i class="icon fa fa-users"></i> c.haverslag@dynteq.nl
                    </a>
                    <p>
                      was inserted by
                      <!--was {{description}} by-->
                      <a href="/users/entry">
                      </a>
                    </p>
                    <span class="label label-primary label-time">
            4 days ago
          </span>
                  </li>
                  <li class="list-group-item">
                    <a href="/users/7mo8rDpaK5Luoqxai/entry" class="label label-default">
                      <i class="icon fa fa-users"></i> ola@methodkit.com
                    </a>
                    <p>
                      was updated by
                      <!--was {{description}} by-->
                      <a href="/users/entry">
                      </a>
                    </p>
                    <span class="label label-primary label-time">
            5 days ago
          </span>
                  </li>
                  <li class="list-group-item">
                    <a href="/users/7mo8rDpaK5Luoqxai/entry" class="label label-default">
                      <i class="icon fa fa-users"></i> ola@methodkit.com
                    </a>
                    <p>
                      was updated by
                      <!--was {{description}} by-->
                      <a href="/users/entry">
              admin@admin.com
            </a>
                    </p>
                    <span class="label label-primary label-time">
            5 days ago
          </span>
                  </li>
                </ul>
                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;">
                  <div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div>
                </div>
                <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;">
                  <div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div>
                </div>
              </div>
              <!--</div>-->
            </div>
            <div class="ibox-footer">
              <span class="pull-right">
            <a class="text-primary" id="view-more">
              View more... (5 / 174)
            </a>
          </span>
              <a class="text-primary" id="view-less">
            View less
          </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{> footer}}
